/* VARIABLES */
:root {
    /* COLOR */
    --accent-color: #E5E5E5;
    --accent-color-darker: #AFAFAF;

    /* SPACING */
    --section-border: 0.4rem;
    --section-padding-inline: 52rem;
    --section-padding-block: 14rem;
    --content-gap: 1rem;

    --header-min-height: 9.2rem;
    --header-gap: 30rem;

    --hero-media-wrapper-padding-top: 24rem;
    --hero-text-wrapper-padding-top: 12rem;
    --hero-text-wrapper-padding-right: 60rem;
    --hero-heading-character-width: 30ch;

    --flag-items-carousel-viewport-max-width: 80rem;
}

/* MAKING 1 rem EQUAL 10px + BODY CONFIG */
html {
  font-size: 62.5%; 
}

body {
    font-size: 1.6rem;
    font-family: serif;
    background-color: #FFFFFF;
    margin: 0;
}

header {
    border-bottom: var(--section-border) solid var(--accent-color);
    min-height: var(--header-min-height);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--header-gap)
}

section {
    padding-inline: var(--section-padding-inline);
    padding-block: var(--section-padding-block);
}

.hero-section {
    min-height: calc(100vh - var(--header-min-height));
    padding-block: 0; /* Already perfectly defined by the min-heigh */
    border-bottom: var(--section-border) solid var(--accent-color);

    /* These two lines are needed to use flex: 1 on the child elements growing vertically */
    display: flex;
    flex-direction: column;
}

.hero-wrapper {
    /* Needed for flex: 1 to work AND to push the flags container to the bottom with margin-top: auto */
    display: flex;
    flex-direction: column;

    /* Take up all the available space in the parent continer */
    flex: 1;
    width: 100%;
}

.hero-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.hero-media-wrapper {
    display: flex;
    /* justify-content: end; */
    padding-top: var(--hero-media-wrapper-padding-top)
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--content-gap) * 1.8);
    text-align: center;
    padding-top: var(--hero-text-wrapper-padding-top);
    /* padding-right: var(--hero-text-wrapper-padding-right); */
}

.hero-heading {
    width: var(--hero-heading-character-width);
}

.hero-flag-items-wrapper {
    margin-top: auto;
    min-height: calc(var(--header-min-height) * 1.1);
    border-top: var(--section-border) solid var(--accent-color);
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
}

.flag-items-carousel-wrapper {
    display: flex;
    align-items: center;
}

.flag-items-carousel__viewport {
    width: 80%;
    max-width: var(--flag-items-carousel-viewport-max-width); /* Safety limit for huge screens */
    margin: 0 auto; /* Center the carousel */

    overflow-x: auto; /* Enables the sliding */
    scroll-behavior: smooth; /* Makes the movement flowing */
    scroll-snap-type: x mandatory; /* Forces the scroll to stop exactly on an item */
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.flag-items-carousel__viewport::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.flag-items-carousel__viewport {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.flag-items-carousel__list {
    display: flex;
    justify-content: center;
    gap: calc(var(--content-gap) * 4.2);
    list-style: none;
    padding: 0;
    margin: 0;
}

.flag-items-carousel__arrow {
    fill: var(--accent-color-darker);
    display: block; /* Remove any inline-block gap at the bottom of the SVG */
}

/* Ensure the anchors holding the SVGs don't add weird height */
.flag-items-carousel-wrapper > a {
    display: flex;
    align-items: center;
}

.flag-item {
    display: flex;
    align-items: center;
    gap: calc(var(--content-gap) * 2.0);

    /* Math: (100% / 6-7 items) - (accounting for gaps) */
    flex: 0 0 calc((100% / 7) - 1.4rem);
    scroll-snap-align: center; /* Tells the slider where to stop */
}

.features-section {
    min-height: 40rem;
}

.features-section-grid-wrapper {
    display: grid;
    gap: calc(var(--content-gap) * 3);
}

/* Alternating card layout! */
.features-section-grid-wrapper > :nth-child(even) > .feature-card-item__media-wrapper {
    order: -1;
    justify-content: center;
}

.feature-card-item {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.feature-card-item__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50ch;
    font-size: larger;
}

.feature-card-item__heading {
    font-size: xx-large;
    font-weight: bolder;
}

.feature-card-item__media-wrapper {
    display: flex;
    justify-content: center;
    /* border: 4px solid red; */
}